
<p>
  <strong>Type of Disaster:</strong>
  <%= @category.title %>
</p>



<h2>Disasters in this Category</h2>
<% @category.disasters.each do |disaster| %>
<p> <%= disaster.title %>
</p>
<p>
  <img src = "<%= disaster.photo_url %>"/>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
<%= link_to 'Show', disaster_path(disaster) %>
<% end %>
